.el-button--cyan.is-active,
.el-button--cyan:active {
    background: #21305e;
    border-color: white;
    color: #21305e;
}

.el-button--cyan:focus,
.el-button--cyan:hover {
    background: #21305e;
    border-color: #FFFFFF;
    color: #21305e;
}

.el-button--cyan {
    background-color: #21305e;
    border-color: #FFFFFF;
    color: #21305e;
}